@font-face {
	font-family: Chemistry , "Golden Ratio";
  src: url(../fonts);
}

body {
	padding-top: 70px
	padding-bottom: 70px;
	background-image: url("../Images/TI-84/pink-TI-84-2.jpeg");
	background-position: center;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.h1 {
	font-family: chemistry;
	color: white;
	background-color: pink;
  text-align: center;
}

.h4 {
  font-family: "Golden Ratio";
  color: white
  
}

